.contact-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--accent_clr-01);
  color: var(--primary-clr);
  text-decoration: none;
  font-family: var(--heading-font);
  border-radius: 5rem;
  font-size: 1.2rem;
  text-align: center;
}

@media (width>=1000px) {
  .contact-Btn{
    padding: 1rem 3rem;
  }
}
